@model SMS.Services.Auth.MasterInfoView
@{ 
}
<div class="nav">
    <dl style="margin-bottom: 0px">
        <dt><span class="master"></span>系统管理</dt>
        <dd>
            <ul>
                <li>@Html.ActionLink("学生管理", "Index", "User")</li>
            </ul>
        </dd>
    </dl>
</div>
