<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
  </configSections>
  <connectionStrings>
    <add name="connection_string" connectionString="Database=sms;Data Source=localhost;User Id=root;Password=123456" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="FCSS">
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect,NHibernate</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver,NHibernate</property>
      <property name="connection.connection_string_name">connection_string</property>
      <property name="adonet.batch_size">100</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="TestApp" value="TestApp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
